   @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
 *{
   border: 0%;
   margin: 0%;
   padding: 0%;
}
  
  body{
    background-color: white;

  }
  header {
    padding: 32px;
    border-bottom: 3px solid black;
    background-color: darkred;
    text-align: center;
    
  }
  header div a {
    color: black;
    font-size: larger;
    line-height: 30px;
    margin: 0 16px;
    text-decoration: none;
    font-family:"Kode Mono", monospace;
  }
header div a:hover{
    color: #000;
    transition: color 700ms;
}
#box{
   text-align: center;
   padding: 32px;
}

#box img{
   border-radius: 100%;
   border: 5px solid darkred;
   margin-bottom: 32px;
}